<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".plist" mimeType="application/xml" />
            <mimeMap fileExtension=".ipa" mimeType="application/vnd.iphone" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="HelloWorld.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
