<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liy_like_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,519},{324,367}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{324,367}}</string>
                <key>sourceSize</key>
                <string>{330,391}</string>
            </dict>
            <key>liy_like_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,311},{272,349}}</string>
                <key>offset</key>
                <string>{-29,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{272,349}}</string>
                <key>sourceSize</key>
                <string>{330,391}</string>
            </dict>
            <key>liy_like_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,585},{304,317}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{304,317}}</string>
                <key>sourceSize</key>
                <string>{330,391}</string>
            </dict>
            <key>liy_like_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,25},{284,355}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,34},{284,355}}</string>
                <key>sourceSize</key>
                <string>{330,391}</string>
            </dict>
            <key>liy_wait_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,513},{166,387}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{166,387}}</string>
                <key>sourceSize</key>
                <string>{330,391}</string>
            </dict>
            <key>liy_wait_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,25},{160,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,452}}</string>
                <key>sourceSize</key>
                <string>{160,452}</string>
            </dict>
            <key>renxq_like_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,25},{177,492}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,492}}</string>
                <key>sourceSize</key>
                <string>{211,494}</string>
            </dict>
            <key>renxq_like_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,25},{183,486}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{183,486}}</string>
                <key>sourceSize</key>
                <string>{211,494}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liypeople.png</string>
            <key>size</key>
            <string>{933,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:127efeb01fafb7e99d0055c1892770aa$</string>
            <key>textureFileName</key>
            <string>liypeople.png</string>
        </dict>
    </dict>
</plist>
